@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');

@import url('https://fonts.cdnfonts.com/css/sf-mono?styles=36554,36550,36552,36556,36546,36548');

$orbitron: 'Orbitron', sans-serif;
$sfmono: 'SF Mono', sans-serif;

$tablet-min-width: 640px;
$desktop-min-width: 1200px;
;