@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.skills {
  height: 506rem;
  width: 255rem;
  border-radius: 16rem;
  background: #E1E1E5;
  padding: 12rem 12rem 16rem 12rem;

  @include on-desktop {
    height: 100%;
    width: 456rem;
    border-radius: 24rem;
    padding: 24rem;
  }
}

.skillTitle {
  font-family: $orbitron;
  font-size: 32rem;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  color: black;

  @include on-desktop {
    font-size: 40rem;
  }
}

.line {
  margin: 8rem 0 8rem;
  height: 0.559rem;
  background: #0F0F0E;

  @include on-desktop {
    margin: 16rem 0 16rem;
    height: 1rem;
  }
}

.headers {
  display: flex;
  justify-content: space-between;

  @include on-desktop {
    margin-bottom: 8rem;
  }
}

.heading {
  color: black;

  font-family: $orbitron;
  font-size: 20rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;

  @include on-desktop {
    font-size: 24rem;
    font-weight: 500;
  }
}

.amount {
  color: black;
  font-family: $sfmono;
  font-size: 12rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  @include on-desktop {
    font-size: 16rem;
  }
}

.blocks {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  margin-bottom: 4rem;

  @include on-desktop {
    gap: 12rem;
    margin-bottom: 8rem;
  }
}

.borderBlocks {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 28rem;
  background: #FFF;

  @include on-desktop {
    border-radius: 50rem;
  }
}

.textBlocks {
  padding: 4rem 8rem;
  color: black;
  font-family: $sfmono;
  font-size: 12rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  @include on-desktop {
    padding: 8rem 16rem;
  }
}

.count {
  color: black;
  font-family: $sfmono;
  font-size: 12rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  @include on-desktop {
    font-size: 16rem;
  }
}