@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';


.container {
  display: flex;
  height: 58rem;
  justify-content: center;
  align-items: center;
  border-bottom: 1rem solid black;
}

.menu {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8rem;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text {
  color: #0F0F0E;

  font-family: $sfmono;
  font-size: 16rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  @include on-desktop {
    font-size: 20rem;
    line-height: 130%;
  }
}

.lines {
    height: 24rem;
    width: 35rem;
  
    @include on-desktop {
      width: 42rem;
    }
  
}